.main{
    margin-left: 110px;
}

.main__sec{
    margin-top: 60px;
}

.main__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #1E0606;
    margin: 0;
}

.main__list{
    padding: 0;
    display: flex;
    margin: 15px 0 0 0;
}

.main__items{
    font-family: 'Crimson Text';
    padding-right: 20px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.sec__list1{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0 0 ;
    padding: 0;
}
.sec__list2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 ;
    padding: 0;
    margin-top: 20px;
    margin-left: 200px;
}

.sec__list_item{
    width: 280px;
    height: 270px;
    margin-right: 20px;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 20px;
    margin: 0;
}

.sec__list_items{
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.sectext{
    margin-left: 200px;
    margin-top: 55px;
}

.sectext__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 25px;
}

.sectext_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-top: 15px;
    width: 680px;
}