li{
    list-style-type: none;
}
.nav__list_item{
    font-family: "Open Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #1E0606;
}
.nav__list_itemContact{
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #1E0606;
}
/* FOOTER*/
.footer__nav_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}
.footer__info_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}
.footer__connect_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}
.footer__nav_list{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer__info_list{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer__connect_button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #000000;
    width: 81px;
    height: 40px;
    left: 1209px;
    top: 171px;
}
.footer__connect_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
}
.footer__info_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
/*Rating*/
.rating{
    margin: 0 0 1em 0;
    padding: 0;
    border: none;
}
.raiting__caption{
    margin-bottom: 0.5em;
    padding: 0;
}
.raiting__star{

}
