li{
    list-style-type: none;
}
.nav__list_item{
    font-family: "Open Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #1E0606;
}
.nav__list_itemContact{
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #1E0606;
}