li{
    list-style-type: none;
}

.header{
    margin-left: 110px;
}

.nav__link{
    text-decoration: none;
}
.contact_us{
    text-decoration: none;
}

.nav__list_item{
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #1E0606;
}
.nav__list_itemContact{
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #1E0606;
}
/* FOOTER*/
.footer__color_text{
    color: #FFFFFF;
    text-decoration: none;
}

.footer__nav_title{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin: 0;
    width: 300px;
}
.footer__info_title{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin: 0;
}
.footer__connect_title{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin: 0;
}
.footer__nav_list{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer__info_list{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer__connect_button{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #000000;
    width: 81px;
    height: 40px;
    border: none;
}
.footer__connect_text{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
}
.footer__info_text{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/* header */

.header{
    display: flex;
    margin-top: 50px;
}
.nav{
    display: flex;
}
.nav__logo:hover{
    opacity:0.6;
}
.nav__logo:active{
    opacity:0.3;
}
.nav__list{
    display: flex;
    column-gap: 20px;
}
.nav__contact{
    display: flex;
    margin-left: 650px;
}
.contact_item{
    margin-right: 18px;
}
.nav__list_item:hover{
    opacity: 0.6;
}
.nav__list_item:active{
    opacity: 0.3;
}
.contact_us:hover{
    opacity: 0.6;
}
.contact_us:active{
    opacity: 0.3;
}

/* footer */

.footer{
    display: flex;
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 0%;
    background: #434343;
    margin-top: 60px;
    width: 1400px;
    height: 555px;
}

.footer__nav{
    margin: 100px 110px;
}
.footer__nav_list{
    display: block;
    margin-top: 28px;
    padding: 0%;
}
.footer__nav_item{
    margin: 15px 0;
}

.footer__info{
    position: absolute;
    margin: 100px 510px;
}
.footer__info_list{
    display: block;
    margin-top: 28px;
    padding: 0%;
}

.footer__info_item{
    margin: 15px 0;
}
.footer__info_text{
    margin: 52px 0;
    padding: 0;
}


.footer__connect{
    position: absolute;
    margin: 100px 910px;
}

.footer__connect_email{
    display: flex;
    margin-top: 49px;
    width: 380px;
    height: 40px;


}
.connect_email{
    width: 299px;
    background: #666666;
    border: none;
    padding-left: 15px;
    color: #EBEBEB;

}

.footer__connect_list{
    padding: 0;
    margin-top: 25px;

}
.footer__connect_item{
    display: inline-block;
    padding-right: 18px;
}
.footer__connect_email{
    margin: 25px 0 0 0 ;
}

.footer__connect_text{
    margin-top: 162px;
}

/*Rating*/
.rating{
    display: flex;
    margin: 23px 0;
    padding: 0;
    border: none;
    color: #FFFFFF
}

.rating__caption{
    margin: 0 23px 0 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.simple-raiting{
    position: relative;
    font-size: 20px;
    display: inline-block;
}

.simple-raiting::before{
    content: "★★★★★";
    display: block;
}

.simple-raiting__items{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple-raiting__item{
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.simple-raiting__label{
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #FFFFFF;
}
.simple-raiting__label::before{
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.simple-raiting__item:checked,
.simple-raiting__item:checked ~ .simple-raiting__label{
    color: #C29974;
}

.simple-raiting__label:hover,
.simple-raiting__label:hover ~ .simple-raiting__label,
.simple-raiting__label:checked ~ .simple-raiting__label:hover{
    color: #836E5B;
}

.hr-line {
	margin: 23px 0 0 0 ;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #666666;
    width: 380px;
}

.hr-line1{
    margin: 28px 0 0 0 ;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #666666;
    width: 1180px;
}