/* Кнопки */
.main__button_baner{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #000000;
    width: 161px;
    height: 40px;
    left: 243px;
    top: 474px;
}
.main__delivery_button{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #000000;
    width: 149px;
    height: 40px;
    left: 710px;
    top: 1705px;
}
.main__aside_button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #000000;
    width: 123px;
    height: 40px;
    left: 140px;
    top: 2230px;
}
/*header */
.header{
    display: flex;
}
.nav__list{
    display: flex;
}

/* Baner */


.main__baner_link{
    display: flex;
}

/* Category */
.main__category_ul{
    display: flex;
}

.main__logo_list{
    display: flex;}
.main__logo_item{
    margin-right: 127px;
}


/*шрифт*/
.main_buner_titl{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
}
.main__baner_text{
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}
.main__buner_subject{
    font-family: 'Montserrat', sans-serif
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
}
.main__baner_desc{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.main__category_title{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
}
.main__category_link{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
}
.main__category_slogan{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}
.main__delivery_title{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
}
.main__delivery_subtitle{
    font-family: 'Crimson Text',serif;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}
.main__delivery_link{
    font-family: 'Crimson Text',serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}
.main__delivery_text{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}
.main__logo_title{
    display: none;
}
.main__aside_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
}
.main__aside_subtitle{
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}
.main__aside_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}
.main__contacts_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
}
.main__contacts_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}